.grid-container{
    /*height: calc( 100vh - 80px);*/
    height: 100%;
}

.grid-cell {
    height: calc( 100% / 2);
    width: calc(97% - 2px);
    margin: 0 auto;
}

.grid-cell:first-child > .item{
    height: calc( (100% - 45px) / 3);
}
.grid-cell:last-child > .item{
    height: calc( (100% - 45px) / 2);
}

.item{
    background-color: lightgrey;
    /*font-size: 12px;*/
    font-size: 11px;
    text-align: center;
    display: inline-block;
    width: calc( (100% - 2px) / 3 );
    margin: -5px 0 0 0;
    min-height: 100px;

}
.item:nth-child(2), .item:nth-child(3), .item:nth-child(4)  {
    margin: 0;
}

.grid-item-selected {
    color: #CC0066;
    background-color: white;
}

.positioned {
    border: 1px solid black;
    margin: 1px;
    height: 100%;
    width: 100%;
    /*display: table;
    padding: 12px;*/
    padding: 35px 0;
  }

  span {
    /*display: table-cell;*/
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  span.glyphicon {
      /*text-align: right;*/
      width: 12px;
      visibility: hidden;
      margin: 0 auto;
  }

  .visible {
    visibility: visible !important;
  }

  .display-table-row {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .display-table-cell {
    display: inline-block;
  }

  #col_b {
    order: 2;
  }
  #col_a {
      order: 1;
    }

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .display-table-row {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
    .display-table-cell {
        display: inline-block;
    }
	.display-table-row {

    }

	#col_b {
        order: 2;
    }

    #col_a {
        order: 1;
    }
}

  /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .item {
        font-size: 18px;
    }
    span.glyphicon {
        width: 18px;
    }
    .positioned {
        /*padding: 18px;*/
        padding: calc( 100% / 7) 0 0 0;
    }
    .display-table {
        display:table;
    }
    .display-table-row {
        display:table-row;
    }
    .display-table-cell {
        display:inline-block;
    }
    .display-table-row {
        display:table-row;
    }
}
