<app-header (goBack)="goBackToSolutionsMode()" (sendButton)="sendRequestInnovation()" rigthIcon="envelope" header="REQUEST INNOVATION DPT"></app-header>
<div class="row background-light-grey no-gutter no-margin">
  <div class="hidden-xs hidden-sm col-md-2"></div>
  <div class="parent col-xs-12 col-md-8 pad-bottom-top-5 no-gutter">

    <div class="col-xs-4 col-sm-2 pad-bottom-top-5">
      <a>
        <img src="assets/img/RequestInnovationDpt.png" class="box-autosize-4-4 box-explanation" alt="Envia una consulta para el Departamento de Innovación">
      </a>
    </div>
    <div class="col-xs-8 col-sm-10 grey main_title verticalAlign">
      <p>Envia una consulta para el Departamento de Innovación</p>
    </div>
  </div>
  <div class="hidden-xs hidden-sm col-md-2"></div>
</div>
<div class="row background-middle-grey no-gutter no-margin">
  <div class="hidden-xs hidden-sm col-md-2"></div>
  <div class="col-xs-12 col-md-8 white main_title pull-left verticalAlign pad-bottom-top-5">
    <p>YOUR REQUEST</p>
  </div>
  <div class="hidden-xs hidden-sm col-md-2"></div>
</div>
<div class="row background-light-grey no-gutter no-margin">
  <div class="hidden-xs hidden-sm col-md-2"></div>
  <div class="col-xs-12 col-md-8 pad-bottom-top-5">

    <form [formGroup]="form" class="login-form">
      <a>
      <textarea id="detail" name="detail" type="text" formControlName="detail" rows="5" class="form-control box-explanation"></textarea>
      </a>
    </form>

  </div>
  <div class="hidden-xs hidden-sm col-md-2"></div>
</div>
